<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a class="link" href="/">HOME</a>
      <a class="link" href="/about">ABOUT</a>
      <a class="link" href="/events">GALLERY</a>
    <h1>Contact</h1>
    <label for="Name">Enter name here</label>
    <input type="text" placeholder="Enter your name here" name="Customer_Name">
    <label for="Email_adress">Enter Email adress here</label>
    <input type="text" placeholder="Enter email adress" name="Customer_Name">
    <label for="Phone_Number">Enter contact number</label>
    <input type="number" placeholder="Enter contact" name="Customer_Name">
    <button id="send">send</button>
</body>
</html>